<div class="container m-5">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addCustomer()" novalidate class="feedback-form">
        <!-- Name -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="write name"
                 [(ngModel)]="customerModel.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="name.errors?.required">Field is required</div>
          </div>
        </div>
        <!-- Address -->
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text"
                 id="address"
                 class="form-control"
                 name="address"
                 placeholder="write address"
                 [(ngModel)]="customerModel.address"
                 #address="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="address.errors?.required">Field is required</div>
          </div>
        </div>

        <!-- Gender -->
        <div class="form-group">
          <label for="gender">Gender</label>
            <!-- Default inline 1-->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" value="Male" required
              id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput [(ngModel)]="customerModel.gender" >
              <label class="custom-control-label" for="defaultInline1">Male</label>
            </div>
            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" value = "Female" required
              id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput [(ngModel)]="customerModel.gender">
              <label class="custom-control-label" for="defaultInline2">Female</label>
            </div>

        </div>

        <button type="submit" class="btn btn-info p-1 m-2">
          <!-- <i class="fa fa-save-o"></i> -->
          <span> Add Customer</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
