<h5> <code>Customer active now is:</code> {{customers[0].name}} </h5>

<h6>All Customers</h6>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
    <th scope="col">Number of transactions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <th scope="row">{{ customer.id }}</th>
    <td>{{ customer.name }}</td>
    <td>{{ customer.gender }}</td>
    <td>{{ customer.numberOfTransaction | number }}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2 flex-row-reverse">

  <a class="nav-link " routerLink="/addCustomer">ADD CUSTOMER</a>

</div>
